.Modal {
    --color-modal: rgba(168,168,168, 0.85); /* variation on --color-muted */

    position: fixed;
    inset: 0;
    background-color: var(--color-modal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal__body {
    background-color: var(--color-background);
    padding: var(--space-3);
    inline-size: 90%;
    min-inline-size: 42ch;
}
@media screen and (min-width: 800px) {
    .Modal__body {
        inline-size: 50%;
        max-inline-size: 82ch;
    }
}